@font-face {
    font-family: 'Snowbell';
    src: url('Snowbell.woff2') format('woff2'),
        url('Snowbell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

