@font-face {
  font-family: 'Snowbell';
  src:
    url('./fonts/Snowbell.woff2') format('woff2'),
    url('./fonts/Snowbell.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(71, 164, 226);
  font-family: 'Snowbell';
}

main {
  padding-top: 10px;
}

button {
  cursor: pointer;
}

.volume-controller {
  position: absolute;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.volume-controller > img {
  height: 50px;
}
