@font-face {
  font-family: 'Snowbell';
  src:
    url('./fonts/Snowbell.woff2') format('woff2'),
    url('./fonts/Snowbell.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(71, 164, 226);
  font-family: 'Snowbell';
}

main {
  padding-top: 40px;
}

button {
  cursor: pointer;
}
